Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@JBunch2310 
JBunch2310
/
todo-rest
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
todo-rest/much-todo-web/src/App.css
@JBunch2310
JBunch2310 updating the database on the back end
Latest commit 8576807 3 days ago
 History
 1 contributor
38 lines (33 sloc)  564 Bytes
   
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}